<header class="main-header">
    <label for="btn-nav" class="btn-nav"><i class="fas fa-bars"></i></label>
  <input type="checkbox" id="btn-nav">

    <nav>
        <ul class="navigation">
            <li><a href="#baner">Baner</a></li>
          <li><a href="#personal-info">P. Info.</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
</header>
  
