<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="mailto:correo@gmail.com"><i class='bx bxl-gmail'></i></a></li>
        <li><a href="https://www.facebook.com"><i class='bx bxl-facebook-circle'></i></a></li>
        <li><a href="https://www.instagram.com"><i class='bx bxl-instagram'></i></a></li>
        <li><a href="https://github.com/TheDeloz-v2"><i class='bx bxl-github'></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Teléfono: +502 5639-6535</li>
        <li>Correo: deloz.lemus.09@gmail.com</li>
    </ul>
</div>